$accent: #50b5ff
$text: #444444
$bg: #f1f1f1

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.8
	overflow-x: hidden
	color: $text
	background-color: $bg
	font-family: 'Roboto', sans-serif
	margin: 0
	padding: 0

.img-responsive
	display: block
	max-width: 100%
	height: auto
a
	text-decoration: none
	&:hover
		text-decoration: none
		color: $accent
